# 환경 변수 파일
.env
.env.*
!.env.example

# 의존성 및 빌드 관련
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# 빌드 결과물
build
dist
coverage

# 버전 관리
.git
.gitignore

# 로그 파일
*.log

# IDE 설정
.idea
.vscode
*.swp
*.swo

# OS 관련
.DS_Store
Thumbs.db